
<div class="row">
    <div class="col-md-10">
    <h3>Links</h3>
    </div>
    <div class="col-md-2">
        <h3 style="float: right">
        <button title="Add New Link" class="btn btn-default btn-xs" ng-click="addNewLink()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
        </button>
        </h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div style="margin-top:30px">
            <table style="width:auto;" class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Text</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody ui:sortable ng-model="links">
                    <tr ng-repeat="link in links" class="item" style="cursor: move;">
                        <td>
                        </td>
                        <td>{{link.link}}</td>
                        <td>{{link.url}}</td>
                    </tr>
                </tbody>
            </table>
                <hr>
        </div>
    </div>
</div>

