<div>
    <h3>New Lesson Plan</h3>
    <hr>
    <form role="form" name="newPlanForm" id='new_plan_form'>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="plan_d">Plan Date</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="plan.plan_date" is-open="opened" min-date="'2013-12-30'" max-date="'2020-12-30'" date-disabled="disabled(date, mode)"  datepicker-options="dateOptions" close-text="Close" ng-required="true" placeholder='Required' />
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="tek">TEK</label>
                    <select ng-required="true" class="form-control" ng-model="plan.tek" ng-options="tek as tek.label group by tek.grade for tek in teks">
                        <option value="">-- TEK - Required --</option>
                    </select>
            </div>
        </div>
        <div class="row fixed-div-height-125">
            <div class="form-group col-md-12">
                <label for="knowledge_skills">Knowledge & Skills</label>
                <div class='outline' ng-if="plan.tek">
                    <strong>{{plan.tek.topic}}:</strong> {{plan.tek.ks}}
                </div>
            </div>
        </div>
        <div class="row fixed-div-height-75">
            <div class="form-group col-md-12">
                <label for="student_exp">Student Expectations</label>
                <div class='outline' ng-if="plan.tek">
                    {{plan.tek.se | capitalize}}
                </div>
            </div>
        </div>
        <div class="row fixed-div-height-75">
            <div class="form-group col-md-12">
                <label for="ps">Processing Standard</label>
                    <select ng-required="true" class="form-control" ng-model="plan.ps" ng-options="item_ps.alpha + ' - ' + item_ps.content for item_ps in ps">
                        <option value="">-- Processing Standard - Required --</option>
                    </select>
                <p>
                    <div class='outline' ng-if="plan.ps">
                        {{plan.ps.alpha}} - {{plan.ps.content | capitalize}}
                    </div>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="verbs">Verbs</label>
                    <select class="form-control" ng-model="plan.verbs" ng-options="verb as verb.verb for verb in verbs" multiple ng-change="update()">
                        <option value="">-- choose Verbs --</option>
                    </select>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="academic_objective">Academic Objective</label>
                <div>
                    <textarea ng-model="plan.sections.academic_obj" name='acadmeic_obj' class='form-control' rows="5">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="vocubulary">Vocabulary for Language Objective</label>
                <div>
                    <textarea ng-model="plan.sections.vocabulary" name="vocabulary" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="essential_q">Essential Questions</label>
                <div>
                    <textarea ng-model="plan.sections.essential_q" name="essential_q" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="hook">Hook</label>
                <div>
                    <textarea ng-model="plan.sections.hook" name="hook" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="input_key">Input/Keypoints:</label>
                <div>
                    <textarea ng-model="plan.sections.input_key" name="input_key" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="common_err">Common Errors</label>
                <div>
                    <textarea ng-model="plan.sections.common_err" name="common_err" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="closure">Closure</label>
                <div>
                    <textarea ng-model="plan.sections.closure" name="closure" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="activities_struct">Activties & Structures</label>
                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.model.complete">Model</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.guided_practice.complete">Guided Practice</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.indy_practice.complete">Independent Practice</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.exit_ticket.complete">Exit Ticket</label>
                </div>
                <div class="activities-div">
                    <input type="url" class='form-control input-sm' placeholder="Exit Ticket Dropbox link" name="exit_ticket_url" ng-model="plan.resources.exit_ticket.url">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.flipchart.complete">Flipchart</label>
                </div>
                <div class="activities-div">
                    <input type="url" class='form-control input-sm' placeholder="Flipchart Dropbox link" name="flipchart_url" ng-model="plan.resources.flipchart.url">
                </div>
                <div class="activities-div activities-spacing">
                    <input type="text" class='form-control input-sm' placeholder="Flipchart notes" name="flipchart_note" ng-model="plan.resources.flipchart.notes">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.guided_notes.complete">Guided Notes</label>
                </div>
                <div class="activities-div">
                    <input type="url" class='form-control input-sm' placeholder="Guided Notes Dropbox link" name="guided_notes_url" ng-model="plan.resources.guided_notes.url">
                </div>
                <div class="activities-div activities-spacing">
                    <input type="text" class='form-control input-sm' placeholder="Guided Notes info" name="guided_notes_info" ng-model="plan.resources.guided_notes.notes">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.homework.complete">Homework</label>
                </div>
                <div class="activities-div">
                    <input type="url" class='form-control input-sm' placeholder="Homework Dropbox link" name="homework_url" ng-model="plan.resources.homework.url">
                </div>
                <div class="activities-div activities-spacing">
                    <input type="text" class='form-control input-sm' placeholder="Homework notes" name="homework_note" ng-model="plan.resources.homework.notes">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" ng-model="plan.resources.homework_key.complete">Homework Key</label>
                </div>
                <div class="activities-div">
                    <input type="url" class='form-control input-sm' placeholder="Homework Key Dropbox link" name="homework_key_url" ng-model="plan.resources.homework_key.url">
                </div>
                <div class="activities-div activities-spacing">
                    <input type="text" class='form-control input-sm' placeholder="Homework Key notes" name="homework_key_note" ng-model="plan.resources.homework_key.notes">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="boot_camp">Boot Camp</label>
                <div>
                    <textarea ng-model="plan.sections.boot_camp" name="boot_camp" class='form-control' rows="5"></textarea>
                </div>
            </div>
        </div>
        <button type="button" ng-disabled="newPlanForm.$invalid" ng-click="createNewPlan()" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default" ng-click="resetForm()">Clear</button>
    </form>
</div>