<div>
    <h3>TEK {{plan.tek_label}}</h3>
    <h4>
<!--         <span editable-bsdate="plan.plan_d" 
                        onshow="openpicker()"
                onhide="closepicker()"
                e-is-open="picker.opened" e-form="textBtnForm" e-datepicker-popup="MM/dd/yyyy"> -->
        {{plan.plan_d}}
<!--         </span>
        <button class="btn btn-default" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible">
            edit
        </button> -->
    </h4>
    <h4>Grade: {{plan.grade}}</h4>
</div>
<hr>
<div>
    <h5>Knowledge & Skills</h5>
    <div class="outline">
        <strong>{{plan.topic}}</strong>: {{plan.ks}}
    </div>
</div>
<div>
    <h5>Student Expectations</h5>
    <div class="outline">
        {{plan.se | capitalize}}
    </div>
</div>
<div>
    <h5>Processing Standard</h5>
    <div class="outline">
        {{plan.ps_alpha}} - {{plan.ps | capitalize}}
    </div>
</div>
<div ng-show="verbs.length">
    <h5>Verbs</h5>
    <div>
        <ul>
            <li ng-repeat="verb in verbs">{{verb.verb}}</li>
        </ul>
    </div>
</div>


<div class="" ng-repeat="section in sections">
    <div class="section-head">
        <h5 style="display:inline">
    {{section.type_label}}
        </h5>
        <button style="float: right; font-size:10px" type="button" class="btn btn-default btn-xs" ng-click="form.$show()" ng-hide="form.$visible">
            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
        </button>
    </div>
    <div class="section-content-div">
        <span onbeforesave="updateSection(section.id, $data)" class="plan-section-static" e-form="form" editable-textarea="section.content" e-rows="4" e-cols="80" ng-bind-html="section.content | lineBreak"></span>
    </div>
    <hr>
</div>


<div ng-show="resources.length">
    <h5>Activities & Structures</h5>
    <div ng-repeat="resource in resources">


        {{resource.type_label}}
        <ul>
            <li class="resource-content-li">
                <button style="font-size:10px" type="button" class="btn btn-default btn-xs" ng-click="form.$show()" ng-hide="form.$visible">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                </button>
                <span onbeforesave="updateResource(resource.id, $data)" e-form="form" e-title="Complete?" editable-checkbox="resource.complete">
                    {{resource.complete && 'Complete: Yes' || 'Complete: No'}}
                </span>
            </li>


            <li class="resource-content-li" ng-if="resource.url">
                <button style="font-size:10px" type="button" class="btn btn-default btn-xs" ng-click="form2.$show()" ng-hide="form2.$visible">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                </button>

                <a  onbeforesave="updateResource(resource.id, $data)" e-type="url" e-style="width:200%" e-form="form2" editable-text="resource.url" href="{{resource.url}}">{{resource.url}}</a>
            </li>


            <li class="resource-content-li" ng-if="resource.notes">
                <button style="font-size:10px" type="button" class="btn btn-default btn-xs" ng-click="form3.$show()" ng-hide="form3.$visible">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                </button>

                <span onbeforesave="updateResource(resource.id, $data)" e-form="form3" editable-text="resource.notes" e-style="width: 200%">{{resource.notes}}</span>
            </li>


        </ul>

    </div>
</div>
