        <div class="row">
        <h3>Lesson Plans</h4>
        </div>


        <div class="row">
            <div style="margin-top: 25px" class="col-md-9"><h4 style="display:inline">Pre AP</h4>
            </div>
            <div class="col-md-3 filter-push-down">
                <input placeholder="filter TEK" name='plan_filter' class="form-control" ng-model="queryP.tek_label">
            </div>
        </div>
<!--         <div class="row" ng-if="filter">
            Filter: {{filter}}
        <div> -->
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>TEK</th>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Plan Date</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
            <tr dir-paginate="plan in plans_preap | filter:queryP | itemsPerPage: 10" pagination-id="preap">
                <td><a href="#/plans/{{plan.id}}">{{plan.tek_label}}</a></td>
                <td>{{plan.title}}</td>
                <td>{{plan.grade}}</td>
                <td>{{plan.plan_d | date: 'MMM-dd yyyy'}}</td>
                <td>{{plan.create_d | date: 'MMM-dd yyyy'}}</td>
            </tr>
            </tbody>
        </table>
        <div class='text-center'>
            <dir-pagination-controls pagination-id="preap" template-url="/vendor/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
        <div ng-if="!plans_preap.length">
            No plans available
        </div>

        <hr>


        <div class="row">
            <div style="margin-top: 25px" class="col-md-9"><h4 style="display:inline">Academic</h4></div>
            <div class="col-md-3 filter-push-down">
                <input placeholder="filter TEK" name='plan_filter' class="form-control" ng-model="queryA.tek_label">
            </div>
        </div>

<!--         <div class="row" ng-if="filter">
            Filter: {{filter}}
        <div> -->
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>TEK</th>
                    <th>Title</th>
                    <th>Grade</th>
                    <th>Plan Date</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
            <tr dir-paginate="plan in plans_academic | filter:queryA | itemsPerPage: 10" pagination-id="academic">
                <td><a href="#/plans/{{plan.id}}">{{plan.tek_label}}</a></td>
                <td>{{plan.title}}</td>
                <td>{{plan.grade}}</td>
                <td>{{plan.plan_d | date: 'MMM-dd yyyy'}}</td>
                <td>{{plan.create_d | date: 'MMM-dd yyyy'}}</td>
            </tr>
            </tbody>
        </table>
        <div class='text-center'>
            <dir-pagination-controls pagination-id="academic" template-url="/vendor/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
        <div ng-if="!plans_academic.length">
            No plans available
        </div>
