body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

h5 {
    font-size: 1.1em;
}

.resource-content-div {
    margin-bottom: 30px;
}

.resource-content-li {
     border-bottom: 0px solid #ccc;
     width: 110%;
}

.editable-wrap {
    /*width: 45%;*/
}
.section-head {
    margin-bottom: 5px;
}

.plan-section-static {
    font-style: normal;
    color: #000 !important; 
    border: 0px !important;
}

.section-div {
    margin-bottom: 20px;
}

.section-content-div {
    margin: 0px 25px 0px 15px;
}

.angular-with-newlines {
    white-space: pre;
}

.activities-div {
    margin: 0px 20px 0px 20px;
}

.activities-spacing {
    margin-top: 4px;
}

.outline {
    border: 1px solid #ccc;
    margin: 5px 20px 0px 20px;
    padding: 3px;
}

#index-alert {
    height: 55px;
}

.fixed-div-height-125 {
    height: 125px;
}

.fixed-div-height-75 {
    height: 75px;
}

label {
    /*text-decoration:underline;*/
}

.navbar {
    height: 45px;
    min-height: inherit;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding:10px 0 0 0;
    margin-right: 40px;
}

.push-right {
    text-align: right;
}

.filter-push-down {
    margin-top: 20px;
}

.filter-input {
    width: 85%;
}

.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}