body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.navbar {
    height: 30px;
    min-height: inherit;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding:5px 0 0 0;
    margin-right: 40px;
}

.push-right {
    text-align: right;
}

.filter-push-down {
    margin-top: 20px;
}

.filter-input {
    width: 85%;
}

.form-control {
    padding-right: 30px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}